testsignalr/Service References/NIA_WS/smis_webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Upd_FlightFieldForGS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fieldname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flightDateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrDep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flightNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upd_FlightFieldForGSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Upd_FlightFieldForGSResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Upd_FlightFieldForGSSoapIn">
    <wsdl:part name="parameters" element="tns:Upd_FlightFieldForGS" />
  </wsdl:message>
  <wsdl:message name="Upd_FlightFieldForGSSoapOut">
    <wsdl:part name="parameters" element="tns:Upd_FlightFieldForGSResponse" />
  </wsdl:message>
  <wsdl:portType name="SMIS_WebserviceSoap">
    <wsdl:operation name="Upd_FlightFieldForGS">
      <wsdl:input message="tns:Upd_FlightFieldForGSSoapIn" />
      <wsdl:output message="tns:Upd_FlightFieldForGSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMIS_WebserviceSoap" type="tns:SMIS_WebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upd_FlightFieldForGS">
      <soap:operation soapAction="http://tempuri.org/Upd_FlightFieldForGS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMIS_WebserviceSoap12" type="tns:SMIS_WebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upd_FlightFieldForGS">
      <soap12:operation soapAction="http://tempuri.org/Upd_FlightFieldForGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMIS_Webservice">
    <wsdl:port name="SMIS_WebserviceSoap" binding="tns:SMIS_WebserviceSoap">
      <soap:address location="http://14.160.36.114:8003/smis_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SMIS_WebserviceSoap12" binding="tns:SMIS_WebserviceSoap12">
      <soap12:address location="http://14.160.36.114:8003/smis_webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>